{% extends 'layout.html' %}
{% block body %}

<h2>Here are a list of cars</h2>
{% for car in all_cars %}
    {{ car.reg }}
    <br>
    {{ car.make }} {{ car.model }}
    <br>
    <form action="{{ url_for('update', car_id=car.car_id) }}">
        <input type=submit value="Update">
    </form>
    <form action="{{ url_for('review', car_id=car.car_id) }}">
        <input type=submit value="Leave a review">
    </form>
    <form action="{{ url_for('delete', car_id=car.car_id) }}">
        <input type=submit value="Delete">
    </form>
    <br><br>
{% endfor %}



{% endblock body %}