{% extends 'layout.html' %}
{% block body %}
<br><br>

<h2>Original Car Details:</h2>
{{ car.reg }}<br>
{{ car.make }} {{ car.model }}<br>
{{ car.mileage }}<br>
{{ car.colour }}<br>
{{ car.age }}<br><br>

<h2>Please fill in all the details</h2>
<form action='' method='POST'>
    {{ form.hidden_tag() }}
    {{ form.reg.label }} {{ form.reg }}<br>
    {{ form.make.label }} {{ form.make }}<br>
    {{ form.model.label }} {{ form.model }}<br>
    {{ form.mileage.label }} {{ form.mileage }}<br>
    {{ form.colour.label }} {{ form.colour }}<br>
    {{ form.age.label }} {{ form.age }}<br>
    {{ form.submit }}
</form>


{% endblock body %}